img {
  border-radius: 5px;
  width: 320px;
  height: 200px;
  margin: 15px;
}

.container {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 50px;
}

.container h4,
p,
h5 {
  text-align: center;
}
button {
  max-width: 200px !important;
}
.row {
  justify-content: center;
}
